In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('datasets/vgsales.csv')

In [5]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
df.drop('Rank', inplace=True, axis=1)

In [7]:
df.Platform.unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [8]:
series1 = df.groupby('Platform').count()['Year']

In [9]:
series1.index

Index(['2600', '3DO', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'GG', 'N64',
       'NES', 'NG', 'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP', 'PSV',
       'SAT', 'SCD', 'SNES', 'TG16', 'WS', 'Wii', 'WiiU', 'X360', 'XB',
       'XOne'],
      dtype='object', name='Platform')

In [10]:
series1.values

array([ 116,    3,  500,   52, 2133,   97,  811,  542,   27,    1,  316,
         98,   12,  943,    1, 1189, 2127, 1304,  336, 1197,  412,  173,
          6,  239,    2,    6, 1290,  143, 1235,  803,  213], dtype=int64)

In [12]:
df.Year.unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000.,   nan, 1995., 2016., 1991., 1981., 1987.,
       1980., 1983., 2020., 2017.])

In [13]:
series2 = df.groupby('Year').count()

In [14]:
series2.index

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2020.0],
             dtype='float64', name='Year')

In [15]:
series2.values

array([[   9,    9,    9,    9,    9,    9,    9,    9,    9],
       [  46,   46,   46,   46,   46,   46,   46,   46,   46],
       [  36,   36,   36,   36,   36,   36,   36,   36,   36],
       [  17,   17,   17,   17,   17,   17,   17,   17,   17],
       [  14,   14,   14,   14,   14,   14,   14,   14,   14],
       [  14,   14,   14,   14,   14,   14,   14,   14,   14],
       [  21,   21,   21,   21,   21,   21,   21,   21,   21],
       [  16,   16,   16,   16,   16,   16,   16,   16,   16],
       [  15,   15,   15,   15,   15,   15,   15,   15,   15],
       [  17,   17,   17,   17,   17,   17,   17,   17,   17],
       [  16,   16,   16,   16,   16,   16,   16,   16,   16],
       [  41,   41,   41,   41,   41,   41,   41,   41,   41],
       [  43,   43,   43,   43,   43,   43,   43,   43,   43],
       [  60,   60,   60,   60,   60,   60,   60,   60,   60],
       [ 121,  121,  121,  121,  121,  121,  121,  121,  121],
       [ 219,  219,  219,  219,  219,  219,  219,  219,  219],
       [ 263,  263,  263,  263,  263,  263,  263,  263,  263],
       [ 289,  289,  289,  289,  289,  289,  289,  289,  289],
       [ 379,  379,  379,  379,  379,  379,  379,  379,  379],
       [ 338,  338,  338,  338,  338,  338,  338,  338,  338],
       [ 349,  349,  349,  349,  349,  349,  349,  349,  349],
       [ 482,  482,  482,  482,  482,  482,  482,  482,  482],
       [ 829,  829,  829,  829,  829,  829,  829,  829,  829],
       [ 775,  775,  775,  775,  775,  775,  775,  775,  775],
       [ 763,  763,  763,  744,  763,  763,  763,  763,  763],
       [ 941,  941,  941,  936,  941,  941,  941,  941,  941],
       [1008, 1008, 1008, 1008, 1008, 1008, 1008, 1008, 1008],
       [1202, 1202, 1202, 1201, 1202, 1202, 1202, 1202, 1202],
       [1428, 1428, 1428, 1428, 1428, 1428, 1428, 1428, 1428],
       [1431, 1431, 1431, 1431, 1431, 1431, 1431, 1431, 1431],
       [1259, 1259, 1259, 1257, 1259, 1259, 1259, 1259, 1259],
       [1139, 1139, 1139, 1136, 1139, 1139, 1139, 1139, 1139],
       [ 657,  657,  657,  655,  657,  657,  657,  657,  657],
       [ 546,  546,  546,  546,  546,  546,  546,  546,  546],
       [ 582,  582,  582,  580,  582,  582,  582,  582,  582],
       [ 614,  614,  614,  614,  614,  614,  614,  614,  614],
       [ 344,  344,  344,  342,  344,  344,  344,  344,  344],
       [   3,    3,    3,    3,    3,    3,    3,    3,    3],
       [   1,    1,    1,    1,    1,    1,    1,    1,    1]],
      dtype=int64)